* {
    font-weight: bold;
}

h1 {
    margin: 100px;
    text-align: center;
    font-size: 1.75em;
}

.container-margin {
    margin: 20px;
}

.box {
    box-sizing: border-box;
}

.marginal {
    margin: 20px 10px;
    height: 300px;
    background-color: #888;
    border: 1px solid black;
}

.title {
    float: right;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid black;
}

.chicken {
    background-color: salmon;
}

.beef {
    color: #fff;
    background-color: crimson;
}

.sushi {
    background-color: darkgoldenrod;
}

p {
    margin-top: 40px;
    clear: right;
    padding: 12px;
}

.col-lg-4, .col-md-12, .col-md-12, .col-sm-12 {
    float: left;
}

@media (min-width:992px){
    .col-lg-4 {
        width: 33.33%
    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width:767px) {
    .col-sm-12 {
        width: 100%
    }
}